@{
    ViewBag.Title = "Chat App";
}

<h2>@ViewBag.Title</h2>

<div class="form-horizontal">

    <div id="loginBlock">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Enter Login:</label>
                <div class="col-md-10">
                    <input id="txtUserName" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnLogin" type="button" value="Login" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>


    <div id="chatBody">
        <h3 id="greeting"></h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Enter Message:</label>
                <div class="col-md-10">
                    <input id="message" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="sendmessage" type="button" value="Send" class="btn btn-default" />
                </div>
            </div>
        </div>

        <hr />
        <div id="chatroom"></div>

        <hr />
        <div id="chatusers">
            <p><b>All Users</b></p>
        </div>
    </div>

    <input id="hdId" type="hidden" />
    <input id="username" type="hidden" />
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.3.min.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/app-chat.js")
}
