@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        canvas {
            position: relative;
            background-color: #dbf9ff;
        }
    </style>

</head>
<body>
    <canvas id='drawingpad' width='800' height='800'></canvas>

    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.3.min.js")

    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/app-draw.js")
</body>
</html>