@{
    ViewBag.Title = "Draw App";
}

<style>
    canvas#drawingpad {
        position: relative;
        background-color: #dbf9ff;
    }
</style>

<h2>@ViewBag.Title</h2>

<div class="form-horizontal">
    <canvas id='drawingpad' width='1200' height='600'></canvas>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.3.min.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/app-draw.js")
}
